@import url(https://fonts.googleapis.com/css?family=Sanchez:400italic,400);

body {
    background-color: White;
    color: white;
    text-align: center;
}
header {
    background: #000;
    border-bottom: 2px 
    solid #fff;
}

#logo-img {
    height: 18px;
    width: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    color: white;
    font-family: "nevis", sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute; 
   	top: 250px; 
   	left: 0; 
   	width: 100%; 
    margin: 1em;
}

h2 {
    color: white;
    font-family: "proxima nova", sans-serif;
    font-size: 21px;
    font-weight: lighter;
    font-style: italic;
    position: absolute; 
   	top: 360px; 
   	left: 0; 
   	width: 100%; 

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
}

h3 {
    color: black;
    font-family: "proxima nova", sans-serif;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 0;
}

.important {
	font-size: 16px;
	font-style: italic;
}

h4{
	color: #e44d98;
	font-family: 'Sanchez', serif;
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
    text-transform: none;
    letter-spacing: -.5px;
    line-height: 0;
    margin: 1em;

}

hr{
	width: 50px;
	line-height: .2;
    padding: 3px;
}

p {
    color: black;
    font-family: "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 2em;
    margin: 30px;
}

a {
	color: black;
	font-family: "proxima nova", sans-serif;
	font-size: 12px;
	font-weight: 200;
    font-variant: underline 0;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 1px;
}


img {
    width: 100%;
    height: auto;
}


div {
    width: 46%;
    padding: 2%;
    display: inline-block;
}

#mission {
    float: left;
    text-align: center;
}

#purpose {
    float: right;
    text-align: center;
}

#story {
    width: 960px;
    float: none;
    text-align: center;
}







#section1 {
    background: #AEEEEE;
    font-family: "proxima nova", sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: none;
    width: 340px;
    padding: 10px;
    margin: 10px;
}

#section2 {
    background: #AEEEEE;
    font-family: "proxima nova", sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: none;
    width: 340px;
    padding: 10px;
    margin: 10px;
}

#section3 {
    background: #AEEEEE;
    font-family: "proxima nova", sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: none;
    width: 340px;
    padding: 10px;
    margin: 10px;
}

footer {
    width: 960px;
    color: black;
    background-color: #FAF0E6;
    font-family: "proxima nova", sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    clear: both;
}

#section1 a,#section2 a,#section3 a {
    color: black;
    font-family: "proxima nova", sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1px;
}

